@{
	Page.Title = "Exercise 04 - Edit Info";
	Layout = "~/_Layout.cshtml";

	//var ArtistId = 0;

	var db = Database.Open("ChinookDB");
	var cid = Request.QueryString["cid"];
	//capture which button was pressed
	var AlbumTitle = Request.Form["AlbumTitle"];
	var ArtistId = Request.Form["ArtistId"];
	var artName = Request.Form["artName"];
	var ReleaseYear = Request.Form["ReleaseYear"];
	var ReleaseLabel = Request.Form["ReleaseLabel"];
	var AlbumId = Request.Form["AlbumId"];

	var discontinued = Request.Form["Discontinued"];

	var thebutton = Request.Form["theButton"];
	var queryStatement = "SELECT AlbumId, Title, ArtistId, ReleaseYear, ReleaseLabel "
		+ "FROM Albums "
		+ "WHERE AlbumId = @0";


	var queryProducts = db.QuerySingle(queryStatement, cid);
	if (string.IsNullOrEmpty(cid))
	{
		Response.Redirect("index.cshtml");
	}







}
@section head
{
	<br /><br />
	<h2>@artName - @AlbumTitle</h2>
}
<div>
	@section banner
	{
		<h2>Update/Delete Information</h2>
	}
	@if (IsPost)
	{
		if (thebutton.Equals("cancel"))
		{
			ArtistId = "";
			AlbumId = "";
			AlbumTitle = "";
			ReleaseYear = "";
			ReleaseLabel = "";

			<p>
				<span style="color:blue">
					User has cancel the action. Return to search for another product
				</span>
				<a href="~/Exercises/Exercise04_C.cshtml">go to search...</a>
			</p>
		}
		else if (thebutton.Equals("delete"))
		{
			//check is there a productid to delete
			//if not message to use to get new product
			//if present
			//  create delete command
			//  execute
			//  message
			//  wrap in try/catch
			if (string.IsNullOrEmpty(AlbumId))
			{
				<p>
					<span style="color:blue">
						No product selected. Return to search for another product
					</span>
					<a href="~/DBPages/ProductSearch.cshtml">go to search...</a>
				</p>
			}
			else
			{
				try
				{
					//to physically remove the record from the database
					//var deletecommand = "DELETE Products WHERE ProductID = @0";

					var deletecommand = "DELETE Albums "
										+ "WHERE AlbumId = @0";

					int results = db.Execute(deletecommand, AlbumId);
					if (results > 0)
					{
						<p>
							<span style="color:green">
								Product deleted.
							</span>
						</p>
						//optionally clear the fields.
						AlbumTitle = ""; //as a minimum
						//discontinued = "1";
					}
					else
					{
						<p>
							<span style="color:blue">
								Delete failed. No product called @AlbumTitle with an id of @AlbumId on file.
							</span>
						</p>
					}

				}
				catch (Exception ex)
				{
					<p>
						<span style="color:blue">
							Deleted failed. Error @ex.Message
						</span>

					</p>
				}
			}
		}
		else
		{
			//check is there a productid to update
			//if not message to use to get new product
			//if present
			//  cause validations
			//  if valid
			//      create delete command
			//      execute
			//      message
			//      wrap in try/catch
			if (string.IsNullOrEmpty(AlbumId))
			{
				<p>
					<span style="color:blue">
						No product selected. Return to search for another product
					</span>
					<a href="~/Exercises/Exercise04_C.cshtml">go to search...</a>
				</p>
			}
			else
			{
				if (Validation.IsValid())
				{
					try
					{
						var updatecommmand = "UPDATE Albums SET Title = @0 "
											+ "ArtistId = @1, "
											+ "ReleaseYear = @2, "
											+ "ReleaseLabel = @3, "
											+ "WHERE AlbumId = @4";
						//the placeholders expect a value not to be confused
						// with a character string
						//the null (as a value) is NOT equal to "null" which is a string
						int results = db.Execute(updatecommmand,
							string.IsNullOrEmpty(AlbumTitle) ? null : AlbumTitle,
							//ArtistId,
							string.IsNullOrEmpty(ArtistId) ? null : ArtistId,
							string.IsNullOrEmpty(ReleaseYear) ? null : ReleaseYear,
							string.IsNullOrEmpty(ReleaseLabel) ? null : ReleaseLabel, AlbumId);
						if (results > 0)
						{
							<p>
								<span style="color:green">
									Product updated.
								</span>
							</p>
						}
						else
						{
							<p>
								<span style="color:blue">
									Update failed. No product called @AlbumTitle with an id of @AlbumId on file.
								</span>
							</p>
						}
					}
					catch (Exception ex)
					{
						<p>
							<span style="color:blue">
								Update failed. Error @ex.Message
							</span>

						</p>
					}
				}
			}
		}
	}
	else //for IsPost
	{
		//if this page is being shown for the "first time"
		queryProducts = db.QuerySingle(queryStatement, cid);
		AlbumTitle = queryProducts.Title.ToString();
		ArtistId = queryProducts.ArtistId.ToString();
		ReleaseYear = queryProducts.ReleaseYear == null ? "0" : queryProducts.ReleaseYear.ToString();
		ReleaseLabel = queryProducts.ReleaseLabel == null ? "" : queryProducts.ReleaseLabel.ToString();//from sql 0/1
		AlbumId = queryProducts.AlbumId.ToString();
	}

	<form id="theForm" action="" method="post">
		<div class="row">
			<div class="col-md-5 text-right">
				<label for="AlbumTitle">Title:&nbsp;</label>
				<input type="text" id="AlbumTitle" name="AlbumTitle" value="@AlbumTitle" />
				<br />

				<label for="ArtistId">ArtistId:&nbsp;</label>
				<input type="text" id="ArtistId" name="ArtistId" value="@ArtistId" />
				<br />
				@*<label for="artName">artName:&nbsp;</label>
					<input type="text" id="artName" name="artName" value="@artName" />
					<br />*@

				<label for="ReleaseYear">ReleaseYear:&nbsp;</label>
				<input type="text" id="ReleaseYear" name="ReleaseYear" value="@ReleaseYear" />
				<br />

				<label for="ReleaseLabel">ReleaseLabel:&nbsp;</label>
				<input type="text" id="ReleaseLabel" name="ReleaseLabel" value="@ReleaseLabel" />
				<br />

				<label for="AlbumId">AlbumId:&nbsp;</label>
				<input type="text" id="AlbumId" name="AlbumId" value="@AlbumId" />
				<br /><br />
				@*@if (discontinued.Equals("True") || (discontinued == "1"))
				{
					<input type="checkbox" name="Discontinued" checked value="1" /><br /><br />
				}
				else
				{
					<input type="checkbox" name="Discontinued" value="0" /><br /><br />
				}*@
			</div>

		</div>
		<div class="row">
			<div class="col-md-5 text-right">
				<button type="submit" name="theButton" id="theUpdate" class="btn btn-primary" value="update">Update</button>&nbsp;&nbsp;&nbsp;
				<button type="submit" name="theButton" id="theDelete" class="btn btn-primary" value="delete" formnovalidate>Delete</button>&nbsp;&nbsp;&nbsp;
				<button type="submit" name="theButton" id="theCancel" class="btn btn-primary" value="cancel" formnovalidate>Cancel</button>
			</div>
		</div>
		<script type="text/javascript">
		document.getElementById("theDelete").onclick = ConfirmDelete;
		function ConfirmDelete() {
		return confirm("Are you sure you want to remove @AlbumId");
		}
		</script>
	</form>

	@section footer
	{

	}

</div>