@{
	Page.Title = "Exercise 03";
	Layout = "~/_Layout.cshtml";

	var db = Database.Open("ChinookDB");
	var Title = "";
	var ReleaseYear = "";
	var ReleaseLabel = "";
	//var querycommand = "SELECT AlbumId, Title, ArtistId, ReleaseYear, ReleaseLabel "
	//					+ "FROM Albums "
	//					+ "WHERE AlbumId = @0";
	//var artistresults = db.Query(querycommand, );

}
@section head
{

}
<div>
	@section banner
	{
		<h2>Exercise 03</h2>
	}


	<form id="theForm" action="" method="post">
		<div class="row">
			<div class="col-md-5">
				<label for="AlbumTitle">Title:&nbsp;</label>
				<input type="text" id="Title" name="Title" value="@Title" />
				<br />
				<label for="ArtistId">Artist:&nbsp;</label>
				<select name="ArtistId" id="ArtistId">
				<option value="">select...</option>
				@*@foreach (var item in artistresults)
				{
				<option value="@item[0]">@item.Name</option>
				}*@
				</select>
				<br />
				<label for="ReleaseYear">Year:&nbsp;</label>
				<input type="number" id="ReleaseYear" name="ReleaseYear" value="@ReleaseYear" />
				<br />
				<label for="ReleaseLabel">Label:&nbsp;</label>
				<input type="text" id="ReleaseLabel" name="ReleaseLabel" value="@ReleaseLabel" />
				<br /><br />
				<button type="submit" name="formButton" value="Add" class="btn btn-primary">Add</button>
				<button type="submit" name="formButton" value="Clear" class="btn btn-secondary">Clear</button>
			</div>
		</div>

	</form>

	@section footer
	{

	}

</div>