@{
	Page.Title = "Exercise 02";
	Layout = "~/_Layout.cshtml";


	var db = Database.Open("ChinookDB");
	var formButton = Request.Form["formButton"];


	var ArtistId = Request.Form["ArtistId"];

	var partialstring = "\'%" + ArtistId + "%\'";

	var querycommand = "SELECT ArtistId, Name "
				+ "FROM Artists "
				+ "WHERE Name like @0 "
				+ "ORDER BY Name";



	var selectresults = db.Query(querycommand, partialstring);

	var artquerycommand = "SELECT ArtistId, Name "
+ "FROM Artists "
//+ "WHERE Name like @0 "; why doesnt this work??
+ "WHERE Name like " + partialstring;

	//Execution: use Query()
	var productresults = db.Query(artquerycommand);

}

@section head
{
	<!-- put in a link to a custom .css file-->
	<link href="~/Content/MyCSS.css" rel="stylesheet" />
}
<div>
	@section banner
{
		<h1>ugh</h1>
	}

	@if (IsPost)
	{

		var artName = Request.Form["ArtistId"];
		var artAlbum = Request.Form["AlbumId"];

		if (artName.IsEmpty())
		{
			<p><span style="color:firebrick">You did not enter a artist. Try again.</span></p>
		}

		else
		{


			if (productresults.Count() == 0) //cannot find an artist from the query command
			{


				<p><span style = "color:firebrick" > There are no artist named. @artName </span></p>


					}
			else
			{
				 
				<p> Found!</p>

			}
			// ArtistId = ""; this would clean up the text input 
		}

	}
	<form id="theForm" action="" method="post">
		<div class="row">
			<div class="col-md-3">
				<label id="ArtistId">Enter Artist Name:&nbsp;</label><br />
				<input id="ArtistId" name="ArtistId" value="@ArtistId" type="text" /><br />
				<br />
				<button type="submit" name="formButton" value="submit"
						class="btn btn-primary">
					Fetch Artists
				</button>
			</div>
			<div class="col-md-9">
				<label id="AlbumId">Select Your Artist:&nbsp;</label><br />
				<select style="height:25px;" name="AlbumId" id="AlbumId">
					<option value="0" name="ddalbum">select ...</option>

					
					@foreach (var item in productresults)
					{
						if (ArtistId != null)
						{
							<option value="@item[0]">@item.Name</option>
							if (formButton.Equals("fetch"))
							{
								ArtistId = Request.Form["ddalbum"];


								Response.Redirect("Exercise02_B.cshtml?cid=" + @item[0]); // this send the thing away
							}
						}
						else
						{
							// pls do nothing
						}
					}
				</select><br />
				<br />
				<button type="submit" name="formButton" value="fetch"
						class="btn btn-primary">
					Fetch Albums
				</button>
			</div>
		</div>
	</form>


	@section footer
{
		<p>
			&copy; CPSC1517, Nait Today's date is
			@DateTime.Today.ToLongDateString().
		</p>}
</div>