<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        <!-- link to general .css-->
        <!-- link to general .js-->
        @RenderSection("head", required: false)
    </head>
    <body>
       
        @RenderBody()
        @RenderSection("Footer", required: false) @RenderSection("banner", required: true)
    </body>
</html>
